<?xml version="1.0"?>
<robot name="myfirst">
  <link name="base_link">
    <visual>
      <geometry>
      <mesh filename="package://blue_descriptions/meshes/arm_base_link_v1.STL"/>
        <!-- <cylinder length="0.6" radius="0.2"/> -->
      </geometry>
    </visual>
  </link>
<link name="roll_link">
    <visual>
      <geometry>
      <mesh filename="package://blue_descriptions/meshes/roll_link_v1.STL"/>
        <!-- <cylinder length="0.6" radius="0.2"/> -->
      </geometry>
        <origin rpy="0 3.14 3.14" xyz="0 0 0.1"/>

    </visual>
  </link>
    <joint name="base_to_left_leg" type="fixed">
    <parent link="base_link"/>
    <child link="roll_link"/>
    <origin xyz="0 0 0"/>
  </joint>
</robot>
